* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#login { background: #000; width: 100vw; height: 100vh; }
#login form { display: flex; align-items: center; justify-content: center; height: 100%; }
#login form input { padding: 20px; width: 200px; }
#login form button { padding: 20px; margin-left: 10px; }


#panel { display: grid; grid-template-columns: 1fr 5fr; }

#lobby-users { background: #C0C0C0; height: 100vh; }

#lobby-messages { list-style-type: none; margin: 0; padding: 0; }
#lobby-messages li { padding: 5px 10px; }
#lobby-messages li:nth-child(odd) { background: #eee; }

#lobby form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#lobby form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
#lobby form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
